manifest {
    name = 'MobiCT'
    author = ''
    homePage = 'https://github.com/SimCab-CHU/MobiCT'
    description = 'ctDNA Analysis pipeline'
    mainScript = 'MobiCT.nf'
    nextflowVersion = '>=22.04.0'
    version = '1.0.0'
}

// meta parameters
dag.overwrite = true

params {
    struct_r1      = "5M2S+T"
    struct_r2      = "5M2S+T"
    ref            = "/path/to/referenceGenome.fasta"
    dict           = "/path/to/referenceGenome.dict"
    fastq          = "/path/to/fastq/files/*_{R1,R2}_001.fastq.gz"
    filter_fastq   = /^((?!Undetermined).)*$/
    outdir         = "/path/to/outdir"
    bed            = "/path/to/bedFile" 
    teststrandbias = "/path/to/teststrandbias.R/used/by/vardict" 
    var2vcf        = "/path/to/var2vcf_valid.pl/used/by/vardict" 
    cache          = "/path/to/cacheVEP"
    fasta          = "/path/to/fastaVEP"
    pipeline_report="pipeline_report"
}

profiles {

    slurm {
        process.executor = 'slurm'
    }

    docker {
        docker.enabled = true
        docker.runOptions='-u "$( id -u ):$( id -g )"'
        includeConfig "$baseDir/config/softwares.config"
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/softwares.config"
    }
    conda {
        conda.enabled = true
        includeConfig "$baseDir/config/softwares.config"
    }
    test{
        params {
            bed    = "$baseDir/Example_data/panel_lung.bed"
            fastq  = "$baseDir/Example_data/*_{R1,R2}_001.fastq.gz"
            outdir = "result_test"
            ref    = "/path/to/referenceGenome.fasta"
            dict   = "/path/to/referenceGenome.dict"
        }
    }
}

resume = true

timeline {
    enabled = true
    file = "${params.pipeline_report}/execution_timeline_${new Date().format('yyyyMMddHHmmss')}.html"
}

report {
    enabled = true
    file = "${params.pipeline_report}/execution_report_${new Date().format('yyyyMMddHHmmss')}.html"
}

trace {
    enabled = true
    file = "${params.pipeline_report}/execution_trace_${new Date().format('yyyyMMddHHmmss')}.txt"
}

dag {
    enabled = true
    file = "${params.pipeline_report}/pipeline_dag.svg"
}
