docker.enabled = true
conda.enabled = true
dag.overwrite = true
process.executor = 'slurm'
workDir = "/path/to/workDir"

params {
    ref = "/path/to/referenceGenome"
    fastq = "/path/to/fastq/files/*_{R1,R2}_001.fastq.gz"
    outdir = "/output/path"
    bed = "/path/to/bedFile" 
    bedInterval = "/path/to/interval/list/extracted/from/bed/file"
    teststrandbias = "/path/to/teststrandbias.R/used/by/vardict" 
    var2vcf = "/path/to/var2vcf_valid.pl/used/by/vardict" 
    cache = "/path/to/cacheVEP"
    fasta = "/path/to/fastaVEP"
}
