docker.enabled = true
conda.enabled = true
dag.overwrite = true
workDir = "/path/to/workDir"

process {
    executor = 'slurm'
    queue = 'avx,prod'

    withName: 'BWAmem' {
        cpus = 10
    }
    withName: 'RerunBWAmem' {
        ext.args = "-Y"
        cpus = 10
    }
    withName: 'UmiMergeFilt' {
        cpus = 10
    }
    withName: 'CallConsensus' {
        cpus = 10
    }
    withName: 'VarDict' {
        cpus = 10
    }
    withName: 'AnnotationVEP' {
        cpus = 10
    }
    withName: 'BCFtools_stats' {
        cpus = 10
    }
}

params {
    struct_r1 = "5M2S+T"
    struct_r2 = "5M2S+T"
    ref = "/path/to/referenceGenome.fasta"
    dict = "/path/to/referenceGenome.dict"
    fastq = "/path/to/fastq/files/*_{R1,R2}_001.fastq.gz"
    filter_fastq = /^((?!Undetermined).)*$/
    outdir = "/output/path"
    bed = "/path/to/bedFile"
    cache = "/path/to/cacheVEP"
    fasta = "/path/to/fastaVEP"
}
