process {
    cpus = 1
    time = '1h'
    maxForks = 2
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'

    withLabel: 'bcftools' {
        cpus = 2
        time = '1h'
    }
    withLabel: 'BwaIndex' {
        cpus = 1
        time = '4h'
    }
    withLabel: 'BWAmem' {
        cpus = 2
        time = '4h'
    }
    withLabel: 'fastp' {
        cpus = 2
        time = '4h'
    }
    withLabel: 'fgbio' {
        cpus = 2
        time = '4h'
    }
    withLabel: 'gatk4' {
        cpus = 2
        time = '4h'
    }
    withLabel: 'pigz' {
        cpus = 2
        time = '4h'
    }
    withLabel: 'multiqc' {
        cpus = 2
        time = '2h'
    }
    withLabel: 'picard' {
        cpus = 2
        time = '1h'
    }
    withLabel: 'samtools' {
        cpus = 2
        time = '4h'
    }
    withLabel: 'vardict' {
        cpus = 1
        time = '4h'
    }
    withLabel: 'vep' {
        cpus = 2
        time = '4h'
    }
}
