process {
    withLabel: 'bcftools' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/bcftools.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/bcftools:1.9--h4da6232_0' : 
        docker.enabled ? 'quay.io/biocontainers/bcftools:1.9--h4da6232_0' : '' }
    }
   withLabel: 'bwamem' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/bwa.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/bwa:0.7.19--h577a1d6_0' : 
        docker.enabled ? 'quay.io/biocontainers/bwa:0.7.19--h577a1d6_0' : '' }
    }
    withLabel: 'fastp' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/fastp.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/fastp:0.24.0--heae3180_1' : 
        docker.enabled ? 'quay.io/biocontainers/fastp:0.24.0--heae3180_1' : '' }
  	}
    withLabel: 'fgbio' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/fgbio.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/fgbio:2.5.0--hdfd78af_1' : 
        docker.enabled ? 'quay.io/biocontainers/fgbio:2.5.0--hdfd78af_1' : '' }
  	}
    withLabel: 'gatk4' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/gatk4.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/gatk4:4.6.1.0--py310hdfd78af_0' : 
        docker.enabled ? 'quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0' : '' }
    }
    withLabel: 'multiqc' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/multiqc.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/multiqc:1.28--pyhdfd78af_0' : 
        docker.enabled ? 'quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0' : '' }
    }
    withLabel: 'picard' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/picard.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/picard:3.3.0--hdfd78af_0' : 
        docker.enabled ? 'quay.io/biocontainers/picard:3.3.0--hdfd78af_0' : '' }
    }
    withLabel: 'samtools' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/samtools.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/samtools:1.6--h5fe306e_11' : 
        docker.enabled ? 'quay.io/biocontainers/samtools:1.6--h5fe306e_11' : '' }
    }
    withLabel: 'vardict' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/vardict.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/vardict:2018.10.18--pl526_1' : 
        docker.enabled ? 'quay.io/biocontainers/vardict:2018.10.18--pl526_1' : '' }
    }
    withLabel: 'vep' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/config/ressources/conda/ensembl-vep.yaml" }
        container = { singularity.enabled ? 'https://depot.galaxyproject.org/singularity/ensembl-vep:113.0--pl5321h2a3209d_0' : 
        docker.enabled ? 'quay.io/biocontainers/ensembl-vep:113.0--pl5321h2a3209d_0' : '' }
    }
}